node_modules
.DS_Store
dist
dist-ssr
*.local
clients/mobile-app/packages
clients/simulator/public/screens
scripts/payemmobile-16b76-firebase-adminsdk-6g9m9-a6e2e31d5f.json
clients/simulator/public/fonts/screens
clients/mobile-app/android/debug.keystore
clients/mobile-app/android/google-services.json
clients/mobile-app/android/app/release/app-release.apk
clients/mobile-app/android/app/release/output-metadata.json
scripts/payemmobile-16b76-firebase-adminsdk-6g9m9-8236827e37.json
packages/api/scratch
packages/api/fixtures
.vscode
scripts/output
clients/mobile-app/src/data/data.autoFill.ts
servers/test-server/logs
temp.ts
packages/api/lib
packages/api/esm
servers/test-server/.npmrc
keys/
servers/test-server/files/
clients/mui-demo/build
servers/mock-server/logs/*.json
server/logs/*.json
server/src/data/db.json
packages/mobile-api/lib
packages/mobile-api/esm
packages/mobile-api/scratch
